*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}
header{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
.headerCont{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

h1{
    font-weight: 400;
    font-size: 1.85rem;
}
.logout{
    border: 1px solid #007bff;
    color: #007bff;
    outline: none;
    background-color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}
.logout:hover{
    cursor: pointer;
    color: white;
    background-color: #007bff;
    
}
.main{
    padding: 0 10%;
}
.details{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 50%;
}

.Kidimage{
    width: 60%;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }

  @media screen and (max-width:1000px){
    .main{
        padding: 0;
    }
    .details{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media screen and (max-width:550px){
    .details{
        width: 100%;
    }
  }