header{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.headerCont{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 250px; */
}
.logout{
    border: 1px solid #007bff;
    color: #007bff;
    outline: none;
    background-color: white;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
}
.logout:hover{
    cursor: pointer;
    color: white;
    background-color: #007bff;
    
}