.form-container{
    min-height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-size: cover;

}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */
}
.form-level{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    align-items: center;
    margin-top: 20px;
}

.form-level label{
    margin-right:20px;
    width: 200px;
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.normalBtn{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    color: grey;
    font-size: 20px;   
}
.submitBtn{
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 20px;
}
.submitBtn:hover{
    color: white;
    background-color: #007bff;
    cursor: pointer;
}
.head{
    font-size: 30px;
    color:white;    
}
.form-level p{
    font-size: 20px;
}

@media screen and (max-width:570px) {
    .form-level{
        flex-direction: column;
    }
}

