*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: start;
}

input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 4px;
    font-size: 15px;
    border:1px solid black;
    outline: none;
    text-align: start;
  }
  input:focus{
      border: 2px solid black;
  }
